
.wrap{
	position: fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100%;
	height:100%;
	background:url(../img/background.png) no-repeat center center;
  	background-size: cover;
  	max-width:500px;
	.title{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height:70px;
		text-align: center;
		font-size: 20px;
		background: url('../img/title.png') no-repeat center center;
		background-size:auto 40px;
	}
	.explainBtn{
		position:fixed;
		right:0;
		top:20px;
		width:40px;
		cursor:pointer;
	}
	.explain{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.35);
		display:none;
		z-index:99999;
		>div{
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			background: #fff;
			border-radius:10px;
			width:300px;
			padding:10px;
			padding-top:40px;
			.expTit{
				position:absolute;
				top:-30px;
				height:60px;
				left:50%;
				transform:translateX(-50%);
			}
			.expClose{
				position: absolute;
				top:10px;
				right:10px;
				width:35px;
			}
			img.explainText{
				width:100%;
			}
		}
	}
	.userList{
		position:absolute;
		top:70px;
		left:0;
		width:100%;
		bottom: 0;
		padding: 10px;
		box-size:border-box;
		color:red;
		display:none;
		h2{
			text-align:center;
			color:#fff;
		}
		ul{
			li{
				float:left;
				width:30%;
				height:50px;
				margin-right:5%;
				border:1px solid #ccc;
				text-align:center;
				line-height: 50px;
				border-radius: 7px;
				margin-top:10px;
				cursor:pointer;
				&:nth-child(3n){
					margin-right:0;
				}
			}
		}
	}
	.content{
		position:absolute;
		top:60px;
		left:0;
		width:100%;
		bottom: 0;
		padding: 10px;
		padding-top:0;
		box-size:border-box;
		display:none;
		.jiantou{
			text-align:center;
			height:30px;
			width:100%;
			img{
				height:30px;
			}
			&.me{
				animation: loadingMe 1s infinite;
				background-position:20% center;
				background-repeat: no-repeat;
				background-size:auto 30px;
			}
			&.op{
				animation: loadingOp 1s infinite;
				background-position:80% center;
				background-repeat: no-repeat;
				background-size:auto 30px;
			}
		}
		@keyframes loadingOp {
		    0% {
		        background-image: url('../img/renjt0.png') ;
		    }
		    50%{
		    	background-image: url('../img/renjt1.png');
		    }
		    100% {
		        background-image: url('../img/renjt0.png');
		    }
		}
		@keyframes loadingMe {
		    0% {
		         background-image: url('../img/bluejt0.png');
		    }
		    50% {
		    	 background-image: url('../img/bluejt1.png');
		    }
		    100% {
		     	  background-image:url('../img/bluejt0.png');
		    }
		}
		.cell_box{
			position:absolute;
			bottom:20px;
			top:50%;
			left:50%;
			height: 420px;
			transform:translate(-50%,-50%);
			width:225px;
			background: url('../img/table.png') no-repeat center center;
			background-size:cover;
			padding: 8px;
			ul{
				height:12.5%;
				width:100%;
				margin: 0;
				li{
					width:25%;
					height:100%;
					box-sizing:border-box;
					float:left;
					list-style:none;
					color:#fff;
					text-align:center;
					position:relative;
					cursor: pointer;
					img{
						position:absolute;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						width:80%;
						transition: all .5s;
					}
					&.init{
						background: url(../img/cell/cell_bg_init.png) no-repeat center center;
						background-size: 90%;
					}
					&.red{
						background: url(../img/cell/cell_bg_red.png) no-repeat center center;
						background-size: 90%;
					}
					&.blue{
						background: url(../img/cell/cell_bg_blue.png) no-repeat center center;
						background-size:90%;
					}
					&.meActive,&.opActive{
						img{
    						transform: translate(-50%,-50%) scale(1.3);
						}
					}
					&.opPrev{
						background: url(../img/cell/cell_active_red.png) no-repeat center center;
						background-size: 90%;
					}
					&.meActive:after{
						content:'';
						display:block;
						position:absolute;
						top:0;
						left:0;
						width:100%;
						height:100%;
						background:url('../img/cell/cell_active_border.png') no-repeat;
						background-size: 102px;
    					background-position: -3px -2px;
    					animation: activeScale .5s infinite;
					}
					&.opActive:after{
						content:'';
						display:block;
						position:absolute;
						top:0;
						left:0;
						width:100%;
						height:100%;
						background:url('../img/cell/cell_active_border.png') no-repeat;
						background-size: 102px;
    					background-position: -3px -56px;
    					animation: activeScale .5s infinite;
					}
					@keyframes activeScale {
					    0% {
					         transform: scale(1.0);
					    }
					    25% {
					    	transform: scale(1.1);
					    }
					    50% {
					         transform: scale(1.2);
					    }
					    75% {
					     	 transform: scale(1.1);
					    }
					    100% {
					    	transform: scale(1.0);
					    }
					}
				}
			}
		}
		.meProgress,.opProgress{
			position:absolute;
			top:30px;
			height:170px;
			width:18px;
			overflow: hidden;
			border-radius:9px;
			img{
				height:100%;
				position:absolute;
				top:0;
				left:0;
				width:100%;
				&.bg{
					z-index: 99;
				}
			}

		}
		.meProgress{
			left:30px;
		}
		.opProgress{
			right:30px;
		}
	}
}