.wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
  max-width: 500px; }
  .wrap .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 20px;
    background: url("../img/title.png") no-repeat center center;
    background-size: auto 40px; }
  .wrap .userList {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 10px;
    box-size: border-box;
    color: red;
    display: none; }
    .wrap .userList h2 {
      text-align: center;
      color: #fff; }
    .wrap .userList ul li {
      float: left;
      width: 30%;
      height: 50px;
      margin-right: 5%;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 50px;
      border-radius: 7px;
      margin-top: 10px;
      cursor: pointer; }
      .wrap .userList ul li:nth-child(3n) {
        margin-right: 0; }
  .wrap .content {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 10px;
    padding-top: 0;
    box-size: border-box;
    display: none; }
    .wrap .content .jiantou {
      text-align: center;
      height: 30px;
      width: 100%; }
      .wrap .content .jiantou img {
        height: 30px; }
      .wrap .content .jiantou.me {
        -webkit-animation: loadingMe 1s infinite;
                animation: loadingMe 1s infinite;
        background-position: 20% center;
        background-repeat: no-repeat;
        background-size: auto 30px; }
      .wrap .content .jiantou.op {
        -webkit-animation: loadingOp 1s infinite;
                animation: loadingOp 1s infinite;
        background-position: 80% center;
        background-repeat: no-repeat;
        background-size: auto 30px; }

@-webkit-keyframes loadingOp {
  0% {
    background-image: url("../img/renjt0.png"); }
  50% {
    background-image: url("../img/renjt1.png"); }
  100% {
    background-image: url("../img/renjt0.png"); } }

@keyframes loadingOp {
  0% {
    background-image: url("../img/renjt0.png"); }
  50% {
    background-image: url("../img/renjt1.png"); }
  100% {
    background-image: url("../img/renjt0.png"); } }

@-webkit-keyframes loadingMe {
  0% {
    background-image: url("../img/bluejt0.png"); }
  50% {
    background-image: url("../img/bluejt1.png"); }
  100% {
    background-image: url("../img/bluejt0.png"); } }

@keyframes loadingMe {
  0% {
    background-image: url("../img/bluejt0.png"); }
  50% {
    background-image: url("../img/bluejt1.png"); }
  100% {
    background-image: url("../img/bluejt0.png"); } }
    .wrap .content .cell_box {
      position: absolute;
      bottom: 20px;
      top: 50%;
      left: 50%;
      height: 420px;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 225px;
      background: url("../img/table.png") no-repeat center center;
      background-size: cover;
      padding: 8px; }
      .wrap .content .cell_box ul {
        height: 12.5%;
        width: 100%;
        margin: 0; }
        .wrap .content .cell_box ul li {
          width: 25%;
          height: 100%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          float: left;
          list-style: none;
          color: #fff;
          text-align: center;
          position: relative;
          cursor: pointer; }
          .wrap .content .cell_box ul li img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            width: 80%;
            -webkit-transition: all .5s;
            transition: all .5s; }
          .wrap .content .cell_box ul li.init {
            background: url(../img/cell/cell_bg_init.png) no-repeat center center;
            background-size: 90%; }
          .wrap .content .cell_box ul li.red {
            background: url(../img/cell/cell_bg_red.png) no-repeat center center;
            background-size: 90%; }
          .wrap .content .cell_box ul li.blue {
            background: url(../img/cell/cell_bg_blue.png) no-repeat center center;
            background-size: 90%; }
          .wrap .content .cell_box ul li.meActive img, .wrap .content .cell_box ul li.opActive img {
            -webkit-transform: translate(-50%, -50%) scale(1.3);
                    transform: translate(-50%, -50%) scale(1.3); }
          .wrap .content .cell_box ul li.opPrev {
            background: url(../img/cell/cell_active_red.png) no-repeat center center;
            background-size: 90%; }
          .wrap .content .cell_box ul li.meActive:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../img/cell/cell_active_border.png") no-repeat;
            background-size: 102px;
            background-position: -3px -2px;
            -webkit-animation: activeScale .5s infinite;
                    animation: activeScale .5s infinite; }
          .wrap .content .cell_box ul li.opActive:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../img/cell/cell_active_border.png") no-repeat;
            background-size: 102px;
            background-position: -3px -56px;
            -webkit-animation: activeScale .5s infinite;
                    animation: activeScale .5s infinite; }

@-webkit-keyframes activeScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes activeScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
    .wrap .content .meProgress, .wrap .content .opProgress {
      position: absolute;
      top: 30px;
      height: 170px;
      width: 18px;
      overflow: hidden;
      border-radius: 9px; }
      .wrap .content .meProgress img, .wrap .content .opProgress img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
        .wrap .content .meProgress img.bg, .wrap .content .opProgress img.bg {
          z-index: 99; }
    .wrap .content .meProgress {
      left: 30px; }
    .wrap .content .opProgress {
      right: 30px; }
